.gradle/
build/
!gradle/wrapper/**
!gradlew
!gradlew.bat
out/
classes/


*.launch


.idea/
*.iml
*.ipr
*.iws

.settings/
.vscode/
bin/
.classpath
.project


*.DS_Store

run/
.remapped/**
.loomcache/


hs_err_*.log
replay_*.log
*.hprof
*.jfr

Thumbs.db
.DS_Store
