# Gradle
.gradle/
build/
!gradle/wrapper/**
!gradlew
!gradlew.bat
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode / eclipse
.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# Fabric / Loom
run/
.remapped/**
.loomcache/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# OS junk
Thumbs.db
.DS_Store
